{% extends 'base.html.twig' %}
{% block body %}
    <h3 style="text-align: center">About us</h3> <br>
    <p>
        <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae dolore iusto omnis quos.
            Accusantium, incidunt, quibusdam? Culpa debitis dolore earum eveniet impedit iusto modi,
            nisi praesentium saepe sed similique!
        </span>
        <span>
            Aliquid architecto asperiores autem cumque dicta dolor eaque eos esse expedita id illo,
            ipsam itaque laudantium magnam nobis nostrum officia quis ratione recusandae
            repellat repellendus tenetur vitae? Ab, nemo, odio?
        </span>
    </p>
{% endblock %}